body{
        background-color:transparent
}

dd{
        margin: 1em;
}
dt{
        background: #fff;
}

dl dd:nth-child(4n+2), dl dt:nth-child(4n+1) {
        background: #fff;
}

.success {
        color: #333;
}


.container{
       // width:670px;
        margin-top: 0em;
        padding-left: 0px;
        padding-right: 15px;
}

.coupon{

        background-image: url('../img/back_coupon.png');
        border-bottom-right-radius: 40px;
        background-position: center; 
        padding-left: 1em;
        padding-right : 1em;
}

h1, h2{
        font-family: 'Arial';
        font-weight: bold;
        color: #279459;

}

h1{
        font-size:17px;    
        margin-bottom: 0px;

}

h2{
        font-weight: normal;
        font-size:16px;
        margin-top: 0px;

}

h2.header{
        margin-bottom: 15px;
        font-weight: bold;
        color: #4B4B4D;
}

h1.rp{
        color: #4b4b4d;
        margin-bottom: 37px;
        margin-top: 14px;
        font-size:2.1em;
        font-family: 'Arial';
}

a{
        color:#008E4F;
}

a:hover{
        text-decoration: none;
        color:#009955; 
}

p.description{

        font-family: 'Arial';
        font-size: 14px;
        color: #898989;
}

.header_h3{
        position: relative;
}


.header_h3 h3{
        color:white;
        text-align: center;
        width:100%;
        text-transform: uppercase;
        font-size: 15px;
        padding: 1em;
        position: absolute;
        bottom: 0;
        margin-bottom:0px;
        z-index:5;
        margin-top: 0px;
        background-image:url('../img/back_title_coupons.png');

}
.coupon_thumb_description{
        background-image: url('../img/back_coupons.png');
        border-bottom-right-radius: 40px;
        height:100px;
}


img.poster{
        border-top-left-radius: 40px;
}

.coupon h1{
        text-transform: uppercase;
}

p.legend{
        color: #898989;
        font-size: 12px;

}

a.btn_participer{
        margin-top: 2em;
        font-size: 14px;
}

a.btn-success{
        background: #279459;
        border: 1px solid #00812E;
}

.coupon_thumb_description p{
        padding-top: 0.5em;
        font-size: 15px;
        color: #898989;
}

.coupon_thumb_description .btn{
        padding-left: 1em;
}

.form-control:focus {
        border: 2px solid ;
}

.form-control {
        display: block;
        height: auto;
        padding: 1px;
        font-size: 14px;
        line-height: 1.428571429;
        color: #555;
        vertical-align: middle;
        background-color: #fff;
        background-image: none;
        border: 1px solid #999999;
        border-radius: 0px;
        -webkit-box-shadow: 0 0 0px 0px rgba(0,0,0,0.00);
        box-shadow: 0 0 0px 0px rgba(0,0,0,0.00);
        -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s, border-width ease-in-out .15s;
        transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s, border-width ease-in-out .15s;
}

.people .form-control{
        width: 85%;
        float:right;    
}

.input{
        margin-bottom: 5px;
}
label{
        font-weight: normal;
        font-size:12px;
}
form .required{
        font-weight:normal;
}


.pic_view{
        margin-bottom: 2em;
}

.thumbnail {

        margin-bottom: 12px;

}

#mainImage{
        margin-bottom: 1.5em;
}

.btn-rp{
        background: none;
        background-color: #d8d9da;
        color: #4b4b4d;
        padding: 4px 4px;
        border: 0px;
        font-size:13px;
        font-weight: bold;
        filter: none;
        border-radius: 0px;
}

.btn-rp:hover{
         background-color: #4b4b4d;
         color: white;
}
